body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a{
  color:rgb(241, 233, 233);
  text-decoration: none;
  padding: 1rem;
}

p{
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
 }


 h1{
  color: rgb(250, 244, 244);
 }

 main{
  text-align: center;
 }


 img{
  height: 200px;
  width: 300px;
 }



 .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap : 1rem;
  margin : 1rem;
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}


.Color__boton{
  color: white;
  background-color: black;
}


section{
  display: flex;
  flex-wrap: wrap;
}


.colorlink{
  color:black
  
}

.itemCart{
  display: flex;
  border-bottom: 1px solido blue;
  max-width: 500px;
  margin: 1rem auto;
}



p {
  margin-bottom: 10px;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}


